<div id='search'>
  <% if @selected.present? %>
    <%= link_to '[||]', edit_page_path(@selected), method: 'get' %>
  <% end %>
  
  <%= render 'search_box' %>

  <%= link_to '[+]', new_page_path, method: 'get' %>
</div>
