<div class="hamburger">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>

<div>
  <ul class='nav-menu'>
    <ul class='nav-item'>
      <%= link_to 'Javascript' %><br>
      <%= link_to 'Html' %><br>
      <%= link_to 'Ruby' %><br>
      <%= link_to 'Rails' %>
    </ul>
  </ul>
</div>
