<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div>
      <%= link_to  'PATHED  ', root_path, {:class=>"navbar-brand", method:'get'} %>
      <%= link_to '[[[-]]]', backup_path, method: 'get' %>
    </div>

    <div id= "main-menu">
      <%= render 'layouts/burger' %>
    </div>  
  </div>
</nav>

<%= javascript_include_tag 'hamburger', 'data-turbolinks-track' => false %>
